In [14]:
import pandas as pd
from pandas import read_csv
import numpy as np
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
from pandas import read_csv
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [2]:
filename='D:\\Assignment Excelr\\Random Forest\\Company_Data (1).csv'
dataframe=read_csv(filename)
dataframe

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [3]:
array=dataframe.values
array

array([[9.5, 138, 73, ..., 17, 'Yes', 'Yes'],
       [11.22, 111, 48, ..., 10, 'Yes', 'Yes'],
       [10.06, 113, 35, ..., 12, 'Yes', 'Yes'],
       ...,
       [7.41, 162, 26, ..., 18, 'Yes', 'Yes'],
       [5.94, 100, 79, ..., 12, 'Yes', 'Yes'],
       [9.71, 134, 37, ..., 16, 'Yes', 'Yes']], dtype=object)

In [7]:
X=array[:,[0,1,2,3,4,7,8]]
Y=array[:,10]
seed=7

In [8]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
model=BaggingClassifier(base_estimator=cart,n_estimators=1000,random_state=seed)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.8925000000000001

In [11]:
X=array[:,[0,1,2,3,4,7,8]]
Y=array[:,10]
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
model=RandomForestClassifier(n_estimators=100,max_features=3)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.9075

In [13]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
model=AdaBoostClassifier(n_estimators=10,random_state=7)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.8924999999999998

In [15]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
estimators=[]
model1=LogisticRegression(max_iter=500)
estimators.append(('logistic',model1))
model2=DecisionTreeClassifier()
estimators.append(('cart',model2))
model3=SVC()
estimators.append(('svm',model3))

In [16]:
ensemble=VotingClassifier(estimators)
results=cross_val_score(ensemble,X,Y,cv=kfold)
print(results.mean())

0.8574999999999999

In [17]:
ensemble

VotingClassifier(estimators=[('logistic', LogisticRegression(max_iter=500)),
                             ('cart', DecisionTreeClassifier()),
                             ('svm', SVC())])

In [18]:
#Fraud Detection

In [19]:
filename='D:\\Assignment Excelr\\Random Forest\\Fraud_check (1).csv'
dataframe=read_csv(filename)
dataframe

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [20]:
array=dataframe.values
array

array([['NO', 'Single', 68833, 50047, 10, 'YES'],
       ['YES', 'Divorced', 33700, 134075, 18, 'YES'],
       ['NO', 'Married', 36925, 160205, 30, 'YES'],
       ...,
       ['NO', 'Divorced', 47334, 154058, 0, 'YES'],
       ['YES', 'Married', 98592, 180083, 17, 'NO'],
       ['NO', 'Divorced', 96519, 158137, 16, 'NO']], dtype=object)

In [21]:
X=array[:,[2,3,4]]
Y=array[:,5]
seed=7

In [22]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
cart=DecisionTreeClassifier()
model=BaggingClassifier(base_estimator=cart,n_estimators=1000,random_state=seed)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.5333333333333333

In [23]:
X=array[:,[2,3,4]]
Y=array[:,5]
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
model=RandomForestClassifier(n_estimators=100,max_features=3)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.51

In [24]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
model=AdaBoostClassifier(n_estimators=10,random_state=7)
results=cross_val_score(model,X,Y,cv=kfold)
print(results.mean())

0.5683333333333334

In [25]:
kfold = KFold(n_splits=10,random_state=seed,shuffle=True)
estimators=[]
model1=LogisticRegression(max_iter=500)
estimators.append(('logistic',model1))
model2=DecisionTreeClassifier()
estimators.append(('cart',model2))
model3=SVC()
estimators.append(('svm',model3))

In [26]:
ensemble=VotingClassifier(estimators)
results=cross_val_score(ensemble,X,Y,cv=kfold)
print(results.mean())

0.5083333333333333

In [27]:
ensemble

VotingClassifier(estimators=[('logistic', LogisticRegression(max_iter=500)),
                             ('cart', DecisionTreeClassifier()),
                             ('svm', SVC())])